<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="left-side text-white flex gap-4">
                <div class="brand font-bold">
                    Recipe Book
                </div>
                <div class="links flex gap-2">
                    <a href="">Recipies</a>
                    <a href="">Shopping list</a>
                </div>
            </div>
            <div class="right text-white">
                <a href="">Menu &#8595;</a>
            </div>
        </div>
    </div>
</nav>