<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="left-side text-white flex gap-4">
                <div class="brand font-bold">
                    <a routerLink="/">
                        Recipe Book
                    </a>
                </div>
                <div class="links flex gap-2">
                    <!-- <a href="#" (click)="onSelect('recipes', $event)">Recipies</a>
                    <a href="#" (click)="onSelect('shopping-list', $event)">Shopping list</a>  -->
                    <a routerLink="/auth" [routerLinkActive]="'underline'"
                        [routerLinkActiveOptions]="{exact: true}">Authenticate</a>
                    <a routerLink="/recipies" [routerLinkActive]="'underline'"
                        [routerLinkActiveOptions]="{exact: true}">Recipies</a>
                    <a routerLink="/shopping-list" [routerLinkActive]="'underline'"
                        [routerLinkActiveOptions]="{exact: true}">Shopping list</a>
                </div>
            </div>
            <div class="right text-white menu-btn">
                <a href="" [routerLink]="">Menu &#8595;</a>
                <ul class="menu-list bg-slate-100 text-black border border-slate-400 px-2">
                    <li class="border-b-2 border-slate-600">
                        <a href="" routerLink="" (click)="onSaveData()">Save</a>
                    </li>
                    <li>
                        <a href="" routerLink="" (click)="onFetchData()">Fetch</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>