<div class="flex flex-col justify-center items-center">

    <!-- <div class="mt-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert" *ngIf="error">
        <strong class="font-bold">Ops!</strong>
        <span class="block sm:inline ml-1">Something seriously bad happened.</span>
        <span class="block sm:inline ml-1">{{error}}</span>
    </div> -->

    <app-alert [error]="error" *ngIf="error" (close)="onErrorClose()"/>

    <form *ngIf="!loading" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="flex flex-col gap-1 my-4">
            <label for="email" class="">Email</label>
            <input ngModel required type="email" name="email" id="email" email
                class="outline outline-1 rounded outline-gray-300">
        </div>
        <div class="flex flex-col gap-1 mb-4">
            <label for="password" class="">Password</label>
            <input ngModel minlength="6" required type="password" name="password" id="password"
                class="outline outline-1 rounded outline-gray-300">
        </div>
        <button type="submit" [disabled]="!authForm.valid"
            class="disabled:bg-slate-500 disabled:text-white disabled:border-none border text-blue-400 rounded px-2 border-blue-400 active:bg-blue-200   transition-colors font-medium mr-2 w-32">{{isLoginMode
            ? 'Login' : 'Sign Up'}}</button>
        <span class="text-slate-500 font-bold">|</span>
        <button type="button"
            class="w-40 ml-2 border text-blue-400 rounded px-2 border-blue-400 active:bg-blue-200   transition-colors font-medium"
            (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up': 'Login'}}</button>
    </form>

    <app-loading-spinner *ngIf="loading" />
</div>