<div class="grid grid-cols-12">
    <div class="col-span-12">
        <div class="grid grid-cols-12">
            <app-shopping-edit class="col-span-12  md:col-span-5 "></app-shopping-edit>
        </div>
        <hr class="my-4">
        <ul>
            <li *ngFor="let ingredient of ingredients; let i = index"
                [ngClass]="i === ingredients.length - 1?'border' : 'border-t'"
                class="border-x rounded p-2"
                >
                <!-- <a href=""> -->
                {{ ingredient.name }} {{ ingredient.amount }}
                <!-- </a> -->
            </li>
        </ul>
    </div>
</div>