<div class="p-4">
    <img src="#" alt="recipe-img"  class="object-cover">
    <h2 class="text-2xl font-semibold">Recipe Name</h2>

    <select name="recipe-select" id="manage-recipe" title="Manage Recipe">
        <option value="" selected disabled>Mange Recipe</option>
        <option value="">To Shopping List</option>
        <option value="">Edit Recipe</option>
        <option value="">Delete Recipe</option>
    </select>

    <div>
        Description
    </div>

    <div>
        Ingredients
    </div>

</div>
